$main-container-width: 1600px;
$section-bg-cream-gray: #edede3;
$section-bg-gray: #eceff1;
$text-color-gray: #d3d7da;
$members-only-text-blue: #0081c7;
$section-bg-cream: #f5f5e5;
$section-bg-yellow: #EDE734;